.food-box:hover .add-to-cart {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s ease;
}

.food-box:hover img {
  filter: brightness(0.5);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.shaking {
  animation: shake 1s;
}
